[Unit]
Description=VPD Manager
StopWhenUnneeded=false
Wants=mapper-wait@-xyz-openbmc_project-inventory.service
After=mapper-wait@-xyz-openbmc_project-inventory.service
#After=set-spi-mux.service
Before=phosphor-discover-system-state@0.service
Before=xyz.openbmc_project.State.BMC.Redundancy.service

[Service]
BusName=com.ibm.VPD.Manager
SyslogIdentifier=vpd-manager
Type=dbus
Restart=always
RestartSec=5
ExecStart=/usr/bin/vpd-manager

[Install]
# TODO revert the below
WantedBy=multi-user.target
WantedBy=basic.target
