#currently these services are added just for backward compatibility.
#It will perform no task in the system and will be eventually removed.

[Unit]
Description=Wait for VPD Collection Services to complete
Wants=vpd-manager.service
After=vpd-manager.service
After=set-spi-mux.service

[Service]
ExecStart=/usr/bin/wait-vpd-parser
Type=oneshot

[Install]
WantedBy=multi-user.target
